
###> symfony/framework-bundle ###
/public/bundles/
/var/
/vendor/
/composer.lock
/.env
/.en.dist
/symfony.lock
/.env
/symfony.lock
/composer.lock
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###


/.env
