
{% extends "base.html.twig" %}

{% block title %}
    Modifier un article - {{ parent() }}
{% endblock %}

{% block container %}

<h2>Modifier une annonce</h2>

{{ include("post/form.html.twig") }}

<p>
    Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit générale de l'annonce déjà publiée.
</p>

<p>
    <a href="{{ path('post_view', {'id': post.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à l'annonce
    </a>
</p>
{% endblock %}