{% extends 'base.html.twig' %}
{% block title %}Articles récents {% endblock %}
{% block h1 %}Articles récents {% endblock %}
{% block body %}
    <h2>Les quatres derniers articles</h2>
    <hr>
    <div class="row" >

    {% for post in postsNews %}
        <div class="col-xl-6 " style="margin-bottom: 10px">
            <a id="link_news" href="post/view/{{ post.id }}">
            <div class="cuadro_intro_hover " >
                <p style="text-align:center;">
                    <img src="{{ post.image.webPath }}" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; ">{{ post.title }}</h3>
                        <p>{{ post.content | raw | striptags("img")}}</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}