{% extends 'base.html.twig' %}
{% block title %}News {% endblock %}
{% block h1 %}News{% endblock %}
{% block body %}
    <h2>{{ postsNews.title }}</h2>
    <div class="row">
        <div class="fr-view col-md-10">
            {{ postsNews.content |raw }}
        </div>
    </div>

    <div id="myModal" class="modal" role="dialog">
        <span class="close">&times;</span>
        <a id="lien_image_article" href=""><img class="img-responsive modal-content" src="" /></a>

    </div>

{% endblock %}